<!DOCTYPE html>
<html lang="en">
<body>

<h3>Ваш заказ № {{ data.order_number }} оформлен!</h3>

{% for item in data.items %}

<p>Товар: {{ item.product_name }}</p>
<p>Количество: {{ item.quantity }}</p>
<p>Цена: {{ item.price }}</p>
<p>Общая цена: {{ item.price_total }}</p>

{% endfor %}

<h4> Общая сумма: {{ data.order_total }}</h4>
</body>
</html>
